.product_card{
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-family: "Roboto", sans-serif;
}
.product_card_img{
    width: 212px;
}
.img_container{
    width: 285px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid #ffbf9b;
    border-radius: 15px;
}
.product_inform_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 15px;
}
.product_card h3{
    font-size: 22px;
    font-weight: 700;
}

.product_card .deacription{
    color: #B1B1B1;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}
